.absolute {
    position: absolute;
}
.hidden {
    /* The menu is hidden at first */
    display: none;
}

.overlay-cntr {
    background-color: Linen;
    font-family: arial, sans-serif;
    font-size: 4mm;
    border: 1px solid Silver;
    box-shadow: 5px 5px 5px grey;
}

.menu-item {
    padding: 1mm 3mm 1mm 3mm;
    margin: 0mm 1mm 0mm 1mm;
}

.menu-item:hover {
    background-color: LightSkyBlue;
}

.menu-item-icon-holder {
    width: 1em;
    display: inline-block;
}
