table.datatable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.datatable td, table.datatable th {
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 8px;
}

table.datatable tr:nth-child(even) {
    background-color: #dddddd;
}

table.datatable td:focus {
    background-color: lightblue;
}

table.datatable th.vertical {
    writing-mode: vertical-lr;
}

/* table.datatable th.vertical {
    text-align:center;
    white-space:nowrap;
    transform-origin:50% 50%;
    transform: rotate(90deg);


table.datatable th.vertical:before {
    content:'';
    padding-top:110%;
    display:inline-block;
    vertical-align:middle;
}*/
