.fileselect ul {
  list-style-type: none;
  width: 200px;
  padding-inline-start: 1em;
}

div.fileselect {
    height: 100%;
    overflow: scroll;
    font-size: 11pt;
}

.fs-file:hover, .fs-dir:hover {
	background-color: lightsteelblue;
	border-radius: 3px 3px 3px 3px;
}

.fa-folder, .fa-folder-open {
  color: Moccasin;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
	
.fa-file-alt, .fa-bars {
	color: darkgrey;
}

.fileselect span {
	white-space: pre;
}
	
.fileselect span.fs-dir + ul {
	display: none;
}
	
.fileselect span.fs-dir.open + ul {
	display: block;
}
