.suggest-input {
    width: 10em;
}

.suggest-holder {
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
}

.suggest-table {
    background-color: white;
    cursor: pointer;
    border-collapse: collapse;
}

.suggest-row {
}

body .suggest-row:hover {
    background-color: #d4efff;
}

.suggest-form {
    margin-block-end: 0em;
}