.date-input {
    width: 10em;
}

.time-input {
    width: 4em;
}

.date-holder {
    position: absolute;
    background-color: pink;
    width: 16em;
}

.date-button {
    background-color: skyblue;
    border: 1px solid grey;
    cursor: pointer;
}

.date-button.inactive {
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
}

.day-button {
    min-width: 1.5em;
    display: inline-block;
    padding: 0.1em;
    margin: 0.1em;
}

body .date-button:hover {
    background-color: #d4efff;
}

body .date-button.inactive:hover {
    background-color: white;
}